:root{
   --blue-1000: #002535e7;
    --blue-900: #002d41e7;
   --blue-800: #255d7ecc;
   --blue-700: #3d708fcc;
   --blue-600: #5383a1;
   --blue-500: #6996b3;
   --blue-400: #7faac6;
   --blue-300: #94bed9;
   --blue-200: #abd2ec;
   --blue-100: #c1e7ff;
   --lg-navbar-width: 200px;
   --header-height: 10vh;
   --section-height: 90vh;
   --header-padding: 25px;
   --navbar-text: rgb(155, 155, 155);
   --card-text: white;
   --section-header: rgb(255, 255, 255);
   --logo-color: rgb(87, 221, 255);
}

@font-face {
    font-family: 'Lato';
    src: url(./Lato/Lato-Regular.ttf);
}
/*COLORS*/

.logo-container>*{
    color: var(--blue-200);
}

.button-box>*{
    color: var(--blue-500);
}

.button-box>button:hover{
    color: var(--blue-100)
}

h3{
    color: rgb(165, 165, 165);
}

h6{
    font-size: 1rem;
}

.header-box{
    color: lightslategray;
    background-color: var(--blue-1000);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card{
    color: rgb(146, 166, 185);
    background-color: var(--blue-1000);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.5s
}

.card:hover{
    background-color: var(--blue-900);
    box-shadow: 0 8px 36px 0 rgba( 31, 38, 135, 0.5 );
    border-radius: 10px;
    border: 1px solid rgba(255, 230, 0, 0.33);
    transform: scale(1.01);
    box-shadow: -6px 6px 0 0 rgba(255, 217, 0, 0.685);
}

.icons>*:hover{
    color:rgba(255, 217, 0, 0.685);
}



.ann-card{
    color: lightslategray;
    background-color: var(--blue-1000);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.trend-card{
    color: lightslategray;
    background-color: var(--blue-1000);
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar{
    background-color: var(--blue-1000);
    
}



.header-icons>i:hover, .profile-container>i:hover{
    color: var(--blue-100);
    transition: ease-in-out .2s;
    transform: scale(1.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.html, body{
    font-size: 24px;
    max-width: 100vw;
    max-height: 100vh;
}

.full-height{
    min-height: 100vh;
    height: 100%;
}


/* GLOBAL */

.content-wrapper{
    background-image: url(./polygon-scatter-haikei\ \(4\).svg);
    background-size: cover;
    display: flex;
}

.navbar{
    width: var(--lg-navbar-width);
    position: fixed;
}

.main-section{
    margin-left: var(--lg-navbar-width);
}

.header{
    min-height: var(--header-height);
    max-width: calc(100vw - var(--lg-navbar-width) - 15px);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    min-height: var(--section-height);
    width: calc(100vw - var(--lg-navbar-width));
    background-color: transparent;
}

/*NAVI COMPONENTS*/

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.2rem 1rem;
    margin-bottom: 1rem;
}

.logo{
    margin-left: .5rem;
}

.navi-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.button-box{
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box>button{
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
}
.button-box:nth-child(7){
    margin-top: 3rem;
}

.button-box>button>i{
    margin: 0 1rem 0 0;
}



/*HEADER COMPONENTS*/

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border-radius: 25px;
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container{
    font-size: 1rem;
}

.welcome-container>p>span{
    font-weight: bold;
}

.admin{
    font-size: .8rem;
    text-align: right;
    padding: 10px;
}

.username{
    font-weight: bold;
}

.image{
    background-image: url(./giraffe.jpg);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-size: cover;
    background-position:  right 20% top 25%;
    margin: 10px;
}

.profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.header-icons{
    padding-left: 25px;
}

.header-icons>*, .profile-container>i{
    padding: 5px;
}


/*SECTION COMPONENTS*/

.section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-left{
    width: 80%;
    height: 100%;
    padding: var(--header-padding);
    padding: auto;
}

.section-right{
    max-width: 20%;
    height: 100%;
    padding: var(--header-padding)
}

.left-text{
    margin-bottom: 1rem;
    margin-left: 1rem
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, auto));
    grid-auto-rows: 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
    padding: 1rem;
}


/*CARD STYLING*/

.card{
    width: 20rem;
    padding: 1rem;
    justify-self: center;
    border-radius: 15px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text>h6{
    padding: .5rem 0;
}

.card-text>p{
    font-size: 1rem;
    padding-bottom: .5rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icons>*{
    padding: 1rem .5rem 0 0.5rem;
}

.box{
    margin: 10px 0 10px 0;
}

.box:first-child, .box:nth-child(2){
    border-bottom: 1px solid white;
    padding: 5px;
}

.box>*{
    padding: 0 10px 5px 10px
}

.ann-card{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 3rem 0;
}

.ann-card>*{
    font-size: .9rem;
}

.trend-card{
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    border-radius: 15px;
}

.trend-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.trend-box>.trend-text-wrap{
    flex:1;
    padding: .8rem
}






@media(max-width:1440px){
    .left-text{
        margin-left: 2.5rem;
       }
    .section-left{
        width: 65%;
        height: 100%;
        padding: var(--header-padding);
        padding: 1rem;
    }
    .section-right{
        width: 30%;
        height: 100%;
        padding: var(--header-padding)
    }
    .ann-card{
        margin: 1.5rem 0;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        padding: 1rem;
    }
    .section-right{
        min-width: 35%;
    }
    .section{
        justify-content: space-between;
    }
}

@media(max-width: 1024px){
    .card{
        width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        padding: 1rem;
    }
    .trend-text-wrap>*{
        font-size: .8rem;
    }
    .trend-text-wrap>h6{
        margin: 5px 0;
    }
    .trend-box{
        padding: 5px;
    }
    .left-text{
        width: 100%;
        text-align: left;
        margin-left: 1rem
    }
}

@media(max-width:768px){
    .welcome-container>p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .admin{
        display: none;
    }
    .header-icons{
        padding-left: 10px;
    }
    .profile-box{
        margin-left: 5px;
    }   
    .section{
        flex-direction: column;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
        grid-auto-rows: 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        padding: 1rem;
    }
    .section-left, .section-right{
        min-width: 100%;
    }
    .trend-text-wrap>h6, .box{
        font-size: 1.1rem;
    }
    .card{
        width: 100%;
    }
    .left-text{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .navbar{
        display: none;
    }
    .main-section{
        margin-left: 0;
    }
    .section{
        min-width: 100vw;
    }
    .header{
        min-width: 100vw;
    }
    .welcome-container{
        display: none;
    }
    .header-box{
        justify-content: space-around;
    }
    .header-box>*{
        flex-shrink: 1;
    }
}

@media(max-width: 375px){
    .header-box{
        font-size: 1.4rem;
    }
}

@media(max-width: 320px){
    .header-box{
        font-size: 1rem;
    }
}