:root{
    --black: #000000; 
    --red: #AC3E31;
     --gray: #484848;
     --light-gray: #949494;
     --yellow: #DBAE58;
     --white: #DADADA; 
     --dark-blue: #20283E;
     --light-blue: #488A99;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 28px;
}

.body, html{
    max-width: 100vw;
}

.full-height{
    min-height: 100vh;
    max-width: calc(100vw - 15px);

}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: .5fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
}
   
.navi { 
    grid-area: 1 / 1 / 3 / 2; 
    display: grid;
    grid-template-rows: 1fr 3fr 10fr;
    background-color: var(--dark-blue);
    height: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white
}

.navi-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 25px;
}

.navi-bot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 25px;
}

.button-box{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--white);
}

.button-box>button{
    padding: 10px;
    font-size: .7rem;
    background: transparent;
    border: none;
    color: var(--white);
}

.header { 
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--yellow);
    max-width: 100vw
}
.main-content { 
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--light-gray);
    max-width: 100vw;
    max-height: 100%;
}

.content-wrapper{
    display: flex;
    max-width: 100vw;
    justify-content: center;
    align-items: flex-start;
    gap: 5px
}

.text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px
}

.text-left{
    width: 75%;
    padding: 15px 0 10px 25px;
}
.text-right{ 
    width: 25%;
    padding: 15px 0 10px 
}

.main-left{
    width: 75%;
    height: 100%;
    padding: 5px 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    overflow: auto;
}

.main-right{
    width: 25%;
    height: 100%;
    margin: 10px 15px 0 0;
}

.image{
    width: 100px;
    height: 100px;
    background-image: url(./giraffe.jpg);
    background-size: cover;
    background-position:  right 20% top 25%;
    border-radius: 100px;
}

.profile-container>.image{
    width: 50px;
    height: 50px;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }
    
.search-container { 
    grid-area: 1 / 1 / 2 / 2; 
}
.profile-container { 
    grid-area: 1 / 2 / 2 / 3; 
}
.welcome-container { 
    grid-area: 2 / 1 / 3 / 2; 
}
.hb-container { 
    grid-area: 2 / 2 / 3 / 3; 
}

.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 15px 50px;
    gap: 25px;
}

.search-container > input{
    flex: 1;
    border-radius: 25px;
    border: none;
    background-color: var(--gray);
}

.profile-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 0 50px 0 0;
}

.welcome-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 0 0 15px 50px;
}

.hi-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hb-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 15px 50px 0 0;
}

.hb-container>button{
    font-size: .8rem;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--light-blue);
    border: none;
}


.card{
    background-color: var(--white);
    padding: 25px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
}


.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons>*{
    padding: 5px;
}

.card > h6{
    font-size: .8rem;
    padding: 5px
}

.card > p{
    font-size: .6rem;
    padding: 5px;
}

.box>h6, .box>p{
    font-size: .5rem;
}

.annonouncements-card, .trending-card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 15px;
}

.trending-card{
    margin: 25px 0 0 0;
}

.box{
    margin: 10px 0 10px 0;
}

.box:first-child, .box:nth-child(2){
    border-bottom: 1px solid white;
}

.box>*{
    padding: 0 10px 5px 10px
}


.trend-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0 0 0 15px;
}

.trend-box > .image{
    width: 2rem;
    height: 2rem;
}

.trend-text-wrap > h6, .trend-text-wrap > p{
    font-size: .7rem;
    padding: 5px;
    font-weight: normal;
}

.trend-text-wrap > p{
    color: rgb(75, 110, 145);
    font-size: .6rem;
}

.trend-text-wrap > h6{
    padding: 10px 0 0 0 
}


